<div class="p-2">

  <div class="profilePage">

    <div class="w-35">
      <p class="bold mb-5">User Profile:</p>
      <app-text-input classes="mb-5" placeholder="Username" [(value)]="userO.username"></app-text-input>
      <app-text-input [(value)]="userO.email" classes="mb-10" placeholder="Email Address"></app-text-input>
      <div class="flex justify-between mb-20">
        <app-button [disabled]="deletingUser" (onClick)="deleteUser()" classes="bg-red" text="Delete User"></app-button>
        <app-button [disabled]="updatingProfile" (onClick)="updateProfile()" text="Save"></app-button>
      </div>

      <p class="bold mb-5">User Password:</p>
      <app-text-input classes="mb-5" placeholder="Current password" [(value)]="currentPassword"></app-text-input>
      <app-text-input [(value)]="newPassword" classes="mb-5" placeholder="New password"></app-text-input>
      <app-text-input [(value)]="newPasswordConfirm" classes="mb-10" placeholder="Confirm new password"></app-text-input>
      <div class="flex justify-right">
        <app-button [disabled]="updatingPassword" (onClick)="updatePassword()" text="Change password"></app-button>
      </div>
    </div>

    <div class="w-55">
      <div class="mb-5 flex items-center">
        <p class="bold pr-10">User's Caff Files:</p>
        <app-button routerLink="/upload" icon="add" type="icon"></app-button>
      </div>
      <div class="grid-2">
        <app-caff-card [deleteEnabled]="true" (onDetailsClicked)="navigateToDetail(c.id)" *ngFor="let c of userO.caffs" [caffData]="c"></app-caff-card>
      </div>
    </div>

  </div>

</div>
