<div class="p-2">

  <div class="detailPage mt-2">

    <div class="w-55 flex flex-col -mt-2">
      <div class="flex gap-2 mb-5">
        <p class="bold">{{caff?.filename}}</p>
        <app-button [disabled]="buyingCaff" (onClick)="buyCaff(caff.id)" type="buy" [text]="caff?.price?.toString() + ' Eur'"></app-button>
        <app-button *ngIf="isAdmin" [disabled]="deletingCaff" (onClick)="deleteCaff(caff?.id, caff?.filename)" type="icon" icon="delete"></app-button>
      </div>
      <img class="simpleImage aspect-video" [src]="(caff?.imageUrl) | useHttpImgSrc" [alt]="caff?.filename + ' image'">
      <div class="flex-mobile justify-between">
        <div class="flex pr-10">
          <p class="bold pr-10">Author:</p>
          <p>{{caff?.username}}</p>
        </div>
        <div class="flex ">
          <p class="bold pr-10">Date:</p>
          <p>{{caff?.uploadDate | date:'medium'}}</p>
        </div>
      </div>
      <div>
        <p class="bold">Description:</p>
        <p class="">{{caff?.description}}</p>
      </div>
    </div>

    <div class="w-35">
      <p class="bold mb-5">Comments:</p>
      <div class="mb-5">
        <app-comment (onDeleted)="getCaffData()" [isAdmin]="isAdmin" [username]="username" *ngFor="let c of caff?.comments" [comment]="c"></app-comment>
      </div>
      <div class="flex justify-between">
        <app-text-input classes="pr-10" [(value)]="newCommentText" placeholder="Write a Comment..."></app-text-input>
        <app-button type="default" text="Send" [disabled]="commenting" (onClick)="sendComment()"></app-button>
      </div>

    </div>

  </div>

</div>
