<div class="flex justify-center mt-10s">

  <form class="flex-col flex items-center">
    <div class="border mb-5">
      <input class="fileInput" type="file" (change)="setFile($event)" accept="">
    </div>
    <app-text-input [(value)]="name" classes="mb-5 w-full" placeholder="File name"></app-text-input>
    <app-text-input [(value)]="description" inputType="textArea" classes="" placeholder="Description"></app-text-input>
    <p *ngIf="error !== ''" style="color: red">{{error}}</p>

    <app-button classes="mt-2" [disabled]="uploading" (onClick)="upload()" text="Upload"></app-button>

  </form>

</div>
