<div class="simpleCard flex flex-col {{classes}}">
  <img class="simpleImage cardImage flex-grow" [src]="caffData.urlImage" alt="card-image">
  <div class="simpleCardBottom">
    <div class="flex justify-between">
      <p class="bold">{{caffData.filename}}</p>
      <p class="bold">{{caffData.price}} Eur</p>
    </div>
    <p>{{caffData.description}}</p>
    <div [ngClass]="deleteEnabled ? 'justify-between' : 'justify-right'" class="flex items-center">
      <app-button *ngIf="deleteEnabled" (onClick)="onDeleteClicked.emit(caffData.id)" type="icon" icon="delete"></app-button>
      <app-button (onClick)="onDetailsClicked.emit(caffData.id)" text="Details"></app-button>
    </div>
  </div>
</div>
